@page "/details"

<div class="details-page">
    <div class="details-intro-section">
        <div class="details-intro-container">
            <div class="details-textinfo">
                <h1 class="details-textinfo-title">Freyberg Beach</h1>
                <div class="details-textinfo-rating">
                    4.6/5 <span style="color: grey">(217)</span>
                </div>
                <p class="details-textinfo-location">wellington, new zealand</p>
                <p class="details-textinfo-description">Freyberg Beach is ideal for swimming, picnicking, walking or cycling on Wellington's beautiful waterfront. The beach has a wave platform, a pier, and a playground.</p>
            </div>
            <div class="details-conditions">
                <div class="details-conditions-waterquality">

                </div>
                <div class="details-conditions-current">

                </div>
            </div>
        </div>
    </div>

    <div class="details-info-section">
        <div class="details-info-container container">
            <div class="row">
                <div class="details-info-menu">

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="details-info-description">
                        <div style="font-size: 30px">Amenities</div>
                        <div>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="details-info-data">
                        <div class="row" style="padding-bottom: 20px">
                            <div class="col-md-6">
                                <div class="details-info-data-card">
                                    <h3>
                                        Toilets
                                    </h3>
                                    <div>
                                        Public toilet facilities are provided at the rear of the adjoining Freyberg Beach at the eastern car park.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-info-data-card">
                                    <h3>
                                        Lifeguarded Zone
                                    </h3>
                                    <div>
                                        Life guards are on duty during the summer season, times of attendance are shown on local notice boards.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 20px">
                            <div class="col-md-6">
                                <div class="details-info-data-card">
                                    <h3>
                                        Toilets
                                    </h3>
                                    <div>
                                        Public toilet facilities are provided at the rear of the adjoining Freyberg Beach at the eastern car park.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="details-info-data-card">
                                    <h3>
                                        Lifeguarded Zone
                                    </h3>
                                    <div>
                                        Life guards are on duty during the summer season, times of attendance are shown on local notice boards.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="details-review-section">
        <div class="detail-review-container">
            <div class="detail-review-rating">
                4.6/5
            </div>
            <div class="detail-review-title">
                Freyberg Beach Reviews
            </div>
            <div class="detail-review-card">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </div>
            <div class="detail-review-card">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </div>
        </div>

    </div>
    <div class="details-footer">
        <div class="details-footer-container">
            <div style="float: left">
                © 2020 Beach List. All Rights Reserved
            </div>
            <div style="float: right">
                Project Spark by Kuvio Creative
            </div>
        </div>
    </div>
</div>

@code {

}
